{% extends 'mytemplate.html' %}

{% block myh1 %}
Log Reports
{% endblock %}

{% block mycontent %}

<h2>Log Report Graph</h2>
<hr>
<img src="{{ url_for(my_db_data['image_folder_path'], filename=my_db_data['image_file_path'])}}" />
<hr>

<h2>Log Report Display Style - 1</h2>
<hr>
{{my_db_data}}
<hr>

<h2>Log Report Display Style - 2</h2>
<hr>
<table border="1" bgcolor="green">
    {% for i, j, k, l in my_db_data["my_log_db_result"] %}
    <tr>
        <td>{{i}}</td>
        <td>{{j}}</td>
        <td>{{k}}</td>
        <td>{{l}}</td>
    </tr>
    {% endfor %}
</table>
<hr>

{% endblock %}
